<div class="container">
  <div class="search-section">
    <label for="search">Rechercher par titre: </label>
    <input id="search" type="text" [formControl]="searchForm" />
    <button (click)="search()">Rechercher</button>
    <button (click)="sortFilmsByTitle()" class="sort-button" disabled>
      Trier par titre
    </button>
  </div>

  <div class="movies-section">
    <div *ngFor="let film of films" class="movie-card">
      <a routerLink="/film/{{ film.id }}">
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + film.poster_path"
          alt="{{ film.title }}"
        />
        <h2>{{ film.title }}</h2>
      </a>
      <p>Date de sortie: {{ film.release_date }}</p>
      <p>Note: {{ film.vote_average }}</p>
    </div>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Précédent
    </button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Suivant
    </button>
  </div>
</div>
